/* The Backgrounds */

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #46AAAF;
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.body-p5r {
    background-color: #0C60D4;
}

.body-sh2 {
    background-color: #01BAEF;
}






/* The Heading Navigation Bars */

header {
    background-color:#0C60D4;
    font-family: Georgia, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    text-decoration: underline;
}

nav a:hover {
    background-color:#C81927;
    color: black;
}

.header-p5r {
    background-color:#C81927;
}

.nav-p5r a:hover {
    background-color: #01BAEF;
}

.nav-sh2 a:hover {
    background-color: #46AAAF;
}






/* The Titles */

#title-id {
    color: black;
    font-family: Georgia, Verdana, Tahoma;
    font-size: 2em;
    margin-top: 10px;
    
}

.title {
    text-align: center;
    border: 10px solid #0C60D4;
}

.title-p5r {
    border: 10px solid #C81927
}













/* The Images */

.first-image, .persona1-image {
    width: 100%;
    border: 15px solid #0C60D4;
}

.persona1-image {
    width: 80%;
    border: 15px solid #0C60D4;
}

.smt1-combat {
    border: 15px solid #0C60D4;
    width: 80%;
}

.smt1-poster {
    border: 15px solid #0C60D4;
    width: 40%;
}

.demons-image {
    border: 15px solid #0C60D4;
    width: 40%;
}

.smtv-cover {
    border: 15px solid #0C60D4;
    width: 25%;
}

.smtv-overworld {
    border: 15px solid #0C60D4;
    width: 80%;
}

.smtv-combat {
    border: 15px solid #0C60D4;
    width: 80%;
}

.smtv-contrast {
    border: 15px solid #0C60D4;
    width: 60%;
}

.p5r-cover {
    border: 15px solid #C81927;
    width: 40%;
}

.persona-mcs {
    border: 15px solid #C81927;
    width: 75%;
}

.persona-life {
    border: 15px solid #C81927;
    width: 70%;
}

.persona-combat {
    border: 15px solid #C81927;
    width: 75%;
}

.p5r-team {
    border: 15px solid #C81927;
    width: 90%;
}

.sh2-cover {
    border: 15px solid #0C60D4;
    width: 35%;
}

.sh2-combat {
    border: 15px solid #0C60D4;
    width: 75%;
}

.sh2-city {
    border: 15px solid #0C60D4;
    width: 70%;
}

.sh2-final-image {
    border: 15px solid #0C60D4;
    width: 70%;
}







/* The Paragraphs */

.everything {
    text-align: center;
    font-family: sans-serif, Verdana, Georgia;
    padding: 50px;
}

.megaten-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.smt1-combat-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.velvet-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.cathedral-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.konan-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.smtv-combat-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.p5r-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.persona-mc-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.p5r-daily-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.p5r-combat-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.sh2-combat-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}

.mansei-label {
    font-size: 13px;
    font-family: Verdana, sans-serif, Georgia;
}




/* The Audio */

.ginza {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.velvet-room {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.cathedral {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.konan {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.smtv-boss {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.life-will-change {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.take-over {
    width: 300px;
    height: 100px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}








/* The Footers */

footer {
    background-color:#0C60D4;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
    background-color:#C81927;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}    

footer p a:hover {
    text-decoration: underline;
}    

.footer-p5r {
    background-color: #C81927;
}

.footer-p5r a:hover {
    background-color: #01BAEF;
}

.footer-sh2 {
    background-color: #0C60D4;
}

.footer-sh2 a:hover {
    background-color: #46AAAF;
}